---
import FormattedDate from './FormattedDate.astro'

const { title, slug, pubDate, description } = Astro.props
---

<li class='w-full mb-8 py-4 rounded-lg list-none'>
	<h2 class='mb-2 text-2xl font-semibold sm:font-bold text-slate-800 pt-0 pb-0'>
		{title}
	</h2>
	<FormattedDate date={pubDate} />
	<p class='mb-5 px-0 mt-0 text-base text-slate-800 sm:text-lg tracking-wide'>
		{description}
	</p>

	<div
		class='items-center justify-left space-y-4 sm:flex sm:space-y-0 sm:space-x-4'
	>
		<a
			href={`/lab/${slug}`}
			target='_self'
			class='w-full bg-[#120] hover:text-slate-200 hover:opacity-90 focus:ring-1 focus:outline-none focus:ring-gray-300 text-slate-200 rounded-lg inline-flex items-center justify-left px-4 py-2.5'
		>
			<svg
				xml:space='preserve'
				viewBox='0 0 100 100'
				class='bg-transparent h-full w-7 pr-2'
			>
				<g class='ldl-scale'>
					<g class='ldl-ani'>
						<g class='ldl-layer'>
							<g
								class='ldl-ani'
								style='transform: scale(0.91); transform-origin: 50px 50px; animation: 1.11111s linear -0.833333s infinite normal forwards running breath-7e16eb8f-d034-41d6-a8f5-a03374b165fa;'
							>
								<path
									stroke='#333'
									fill='#fff'
									stroke-miterlimit='10'
									stroke-width='3.5'
									d='M79.333 62H20.667A4.666 4.666 0 0 1 16 57.333V22.667A4.666 4.666 0 0 1 20.667 18h58.667A4.666 4.666 0 0 1 84 22.667v34.667A4.666 4.666 0 0 1 79.333 62z'
									style='fill: rgb(255, 255, 255); stroke: rgb(51, 51, 51);'
								></path>
							</g>
						</g>
						<>
							<g class='ldl-layer'>
								<g class='ldl-ani'>
									<g>
										<>
											<g class='ldl-layer'>
												<g class='ldl-ani'>
													<path
														d='M45 47h10v31H45z'
														stroke='#333'
														fill='#e0e0e0'
														stroke-miterlimit='10'
														class='hover:fill-black'
														stroke-width='3.5'
														style='fill: rgb(224, 224, 224); stroke: rgb(51, 51, 51);'
													></path>
												</g>
											</g>
											<g class='ldl-layer'>
												<g
													class='ldl-ani'
													style='transform: scale(0.91); transform-origin: 50px 50px; animation: 1.11111s linear -0.740741s infinite normal forwards running breath-7e16eb8f-d034-41d6-a8f5-a03374b165fa;'
												>
													<path
														stroke-miterlimit='10'
														stroke-linejoin='round'
														stroke-width='3.5'
														stroke='#333'
														fill='#e0e0e0'
														d='M70 84H30l.457-1.702A8.508 8.508 0 0 1 38.672 76h22.655a8.507 8.507 0 0 1 8.215 6.298L70 84z'
														style='fill: rgb(224, 224, 224); stroke: rgb(51, 51, 51);'
														class='hover:fill-black'></path>
												</g>
											</g>
										</>
									</g>
								</g>
							</g>
							<g class='ldl-layer'>
								<g class='ldl-ani'>
									<g>
										<g class='ldl-layer'>
											<g
												class='ldl-ani'
												style='transform: scale(0.91); transform-origin: 50px 50px; animation: 1.11111s linear -1.01852s infinite normal forwards running breath-7e16eb8f-d034-41d6-a8f5-a03374b165fa;'
											>
												<path
													d='M39.925 52.375L32.4 40l7.525-12.375'
													stroke-miterlimit='10'
													stroke-width='3.5'
													stroke='#333'
													fill='none'
													style='stroke: rgb(51, 51, 51);'></path>
											</g>
										</g>
										<>
											<g class='ldl-layer'>
												<g
													class='ldl-ani'
													style='transform: scale(0.91); transform-origin: 50px 50px; animation: 1.11111s linear -0.925926s infinite normal forwards running breath-7e16eb8f-d034-41d6-a8f5-a03374b165fa;'
												>
													<path
														d='M60.075 27.625L67.6 40l-7.525 12.375'
														stroke-miterlimit='10'
														stroke-width='3.5'
														stroke='#333'
														fill='none'
														style='stroke: rgb(51, 51, 51);'></path>
												</g>
											</g>
											<g class='ldl-layer'>
												<g
													class='ldl-ani'
													style='transform: scale(0.91); transform-origin: 50px 50px; animation: 1.11111s linear -1.11111s infinite normal forwards running breath-7e16eb8f-d034-41d6-a8f5-a03374b165fa;'
												>
													<path
														d='M54.808 23.5l-9.616 33'
														stroke-miterlimit='10'
														stroke-width='3.5'
														stroke='#333'
														fill='none'
														style='stroke: rgb(51, 51, 51);'></path>
												</g>
											</g>
										</>
									</g>
								</g>
							</g>
						</>
					</g>
				</g>
			</svg>
			<div class='text-left'>
				<div class='-mt-1 font-sans text-sm font-semibold tracking-wider'>
					Prácticas
				</div>
			</div>
		</a>
		<a
			href={`/blog/${slug}`}
			target='_self'
			class='w-full bg-[#120] focus:ring-1 focus:outline-none hover:text-slate-200 hover:opacity-90 focus:ring-gray-300 text-slate-200 rounded-lg inline-flex items-center justify-left px-4 py-2.5'
		>
			<svg
				version='1.1'
				id='圖層_1'
				xmlns='http://www.w3.org/2000/svg'
				x='0'
				y='0'
				width={28}
				class='pr-2'
				viewBox='0 0 100 100'
				xml:space='preserve'
			>
				<path
					d='M41.629 29.224H12.905A2.905 2.905 0 0 0 10 32.129v39.123a2.905 2.905 0 0 0 2.905 2.905h28.724c4.489.014 7.19 1.133 8.195 4.16V33.825c-1.705-3.364-4.506-4.774-8.195-4.601z'
					fill='#fff'
					stroke='#fff'
					stroke-width='4'
					stroke-linecap='round'
					stroke-linejoin='round'
					stroke-miterlimit='10'></path>
				<path
					d='M57.584 21.695h25.765a2.89 2.89 0 0 1 2.891 2.891V66.65a2.89 2.89 0 0 1-2.891 2.891H60.555c-5.537.054-8.479 2.939-10.396 8.39V25.863c1.546-3.047 4.083-4.325 7.425-4.168z'
					fill='#e0e0e0'
					stroke='#fff'
					stroke-width='4.202'
					stroke-linecap='round'
					stroke-linejoin='round'
					stroke-miterlimit='10'></path>
				<>
					<path
						d='M58.371 29.224h28.724A2.905 2.905 0 0 1 90 32.129v39.123a2.905 2.905 0 0 1-2.905 2.905H58.371c-4.489.014-7.19 1.133-8.195 4.16V33.825c1.705-3.364 4.506-4.774 8.195-4.601z'
						fill='#fff'
						stroke='#fff'
						stroke-width='4'
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-miterlimit='10'></path>
					<path
						d='M42.416 21.695H16.651a2.89 2.89 0 0 0-2.891 2.891V66.65a2.89 2.89 0 0 0 2.891 2.891h22.794c5.537.054 8.479 2.939 10.396 8.39V25.863c-1.546-3.047-4.083-4.325-7.425-4.168z'
						fill='#e0e0e0'
						stroke='#fff'
						stroke-width='4.202'
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-miterlimit='10'></path>
				</>
			</svg>
			<div class='text-left'>
				<div class='-mt-1 font-sans text-sm font-semibold tracking-wider'>
					Introducción
				</div>
			</div>
		</a>
	</div>
</li>
